<div class="row">
	<div class="span8 columns">
		<h1>
			Team - <%= @team.name %> 
			<small><%= link_to 'Edit', edit_team_path %></small>
			<small><%= link_to 'Delete', team_path, 
								  :confirm => 'Are you sure you want to delete?',
								  :method => :delete %></small>			
		</h1>
		<table class="zebra-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Skills</th>
				</tr>
			</thead>
			<tbody>
			<% @team.geekbusters.each_with_index do |g, i| %>
				<tr>
					<td><%= link_to i, g %></td>
					<td><%= g.first_name %></td>
					<td><%= g.last_name %></td>
					<td><%= g.skills.to_sentence unless g.skills.blank? %></td>					
				</tr>
			<% end %>
			</tbody>
		</table>		
	</div>
</div>