<div class="row">
	<div class="span8 columns">
		<h1>
			Geekbuster 
			<small><%= link_to 'Edit', edit_geekbuster_path %></small>
			<small><%= link_to 'Delete', geekbuster_path, 
								  :confirm => 'Are you sure you want to delete?',
								  :method => :delete %></small>			
		</h1>
		<table class="zebra-striped">
			<tbody>
				<tr>
					<td><strong>First Name</strong></td>
					<td><%= @geekbuster.first_name %></td>
				</tr>
				<tr>
					<td><strong>Last Name</strong></td>
					<td><%= @geekbuster.last_name %></td>
				</tr>	
				<tr>
					<td><strong>Skills</strong></td>
					<td><%= @geekbuster.skills.to_sentence unless @geekbuster.skills.blank? %></td>
				</tr>	
				<tr>
					<td><strong>Team</strong></td>
					<td><%= link_to @geekbuster.team.name, @geekbuster.team unless @geekbuster.team.nil? %></td>
				</tr>										
				<% unless @geekbuster.address.blank? %>
				<tr>
					<td><strong>Address</strong></td>
					<td>
						<%= @geekbuster.address.address_line1 %>
					    <%= "<br/>#{@geekbuster.address.address_line2}".html_safe unless @geekbuster.address.address_line2.blank?%> 
					</td>
				</tr>
				<tr>
					<td><strong>City</strong></td>
					<td><%= @geekbuster.address.city %></td>
				</tr>	
				<tr>
					<td><strong>State</strong></td>
					<td><%= @geekbuster.address.state %></td>
				</tr>				
				<tr>
					<td><strong>Zipcode</strong></td>
					<td><%= @geekbuster.address.zipcode %></td>
				</tr>				
				<% end %>
			</tbody>
		</table>
	</div>
</div>	